/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette is located in the Readme.md
/* As hex codes */

/* Main Primary color*/
.background-color-primary-0 {
  background-color: #016ddd;
}
.background-color-primary-1 {
  background-color: #004fa0;
}
.background-color-primary-2 {
  background-color: #004082;
}
.background-color-primary-3 {
  background-color: #003265;
}
.background-color-primary-4 {
  background-color: #002245;
}

/* Main Secondary color (1) */
.background-color-secondary-1-0 {
  background-color: #ffe400;
} 
.background-color-secondary-1-1 {
  background-color: #f6dc00;
}
.background-color-secondary-1-2 {
  background-color: #c7b200;
}
.background-color-secondary-1-3 {
  background-color: #9c8b00;
}
.background-color-secondary-1-4 {
  background-color: #6a5e00;
}

/* Main Secondary color (2) */
.background-color-secondary-2-0 {
  background-color: #fb001d;
} 
.background-color-secondary-2-1 {
  background-color: #ec001c;
}
.background-color-secondary-2-2 {
  background-color: #bf0016;
}
.background-color-secondary-2-3 {
  background-color: #950011;
}
.background-color-secondary-2-4 {
  background-color: #65000c;
}

#logo{
    margin-left: 20px;
}

.landing-paragraphs i{
    font-size: 32px;
    color: #fb001d;
}
.appliance-images{
    height: 150px;
    width: auto;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) { 
    .appliance-images{
        height: 100px;
        width: 100px;
    }
 }
/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) { 
    .appliance-images{
        height: 100px;
        width: 100px;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .appliance-images{
        height: 100px;
        width: 100px;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .appliance-images{
        height: 100px;
        width: 100px;
    }
}
/* Extra-extra small devices (Galaxy fold, less than 281px) */
@media (max-width: 281px) {
    .appliance-images{
        height: 50px;
        width: 50px;
    }
}