{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="slider">
                <ul class="slides">
                    <li><img src="https://images.unsplash.com/photo-1559461678-986e2e9311d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80">
                    <div class="caption left-align">
                        <h3>About 5 minutes foods</h3>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row center-align">
            <h1>About</h1>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <p>This site was inspired by my mother. She always wanted to share recipes with my aunts. Someone
                in the family would always have a "secret" recipe for something. Whether the recipe be for Spare ribs 
                or cheese cake, those recipes would be hunted down. The time it took to organise a meet up with other family 
                memebers would make the task tedious and difficult. So whenever there was a meet up my mom would run to the kitchen with my aunts and 
                and spend the entire day writing down recipes. The collection of custom recipe books filled the kitchen cabinets and would take up
                a lot of space. 
                </p>
                <p>Thus 5 Minute Foods was born. I created this site so that no matter where you are in the world, finding and sharing your
                recipe with people would not be difficult. You might find something that surprises you or something that takes you home.
                May your table always be filled with friends and family. 
                </p>
                <p>Happy Cooking - Keis</p>
            </div>
        </div>
    </div>
</div>
{% endblock%}