{% extends 'base.html' %}
{% block content %}
<!--The slider for the top of the page-->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="slider">
                <ul class="slides">
                    <li><img src="https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
                    <div class="caption center-align">
                        <h3 class="landing-page-sliders">Our partners have offers for you!</h3>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--The section where appliance cards will be stored-->
<div class="container">
    <div class="section">
        <div class="row">
        <!--Iterating over the appliance collection in MongoDB for each card-->
            {% for appliance in appliances %}
            <div class="col s12 m6">
                <div class="card background-color-secondary-2-3">
                    <div class="card-content white-text">
                        <span class="card-title">{{ appliance.name }}</span>
                        <img class="responsive-image appliance-images" src="{{ appliance.img_url }}" alt="Appliance Image">
                        <p>{{ appliance.company }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ appliance.url }}" target="_blank" class="white-text">View appliance</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}