{% extends 'base.html' %}
{% block content %}
<!--The slider for the top of the page-->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="slider">
                <ul class="slides">
                    <li><img src="{{url_for('static', filename='img/cover4.jpg')}}" alt="cover4">
                    <div class="caption center-align">
                        <h3 class="landing-page-sliders">Our partners have offers for you!</h3>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--The section where appliance cards will be stored-->
<div class="container">
    <div class="section">
        <div class="row">
        <!--Iterating over the appliance collection in MongoDB for each card-->
            {% for appliance in appliances %}
            <div class="col s12 m6">
                <div class="card background-color-secondary-2-3">
                    <div class="card-content white-text">
                        <span class="card-title">{{ appliance.name }}</span>
                        <img class="responsive-image appliance-images" src="{{ appliance.img_url }}" alt="Appliance Image">
                        <p>{{ appliance.company }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ appliance.url }}" target="_blank" class="white-text">View appliance</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}