{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="slider">
                <ul class="slides">
                    <li><img src="https://images.unsplash.com/photo-1447279506476-3faec8071eee?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
                    <div class="caption right-align">
                        <h3>Find the right recipe for you</h3>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <h1>{{ recipe.recipe_name }}</h1>
        </div>
    </div>
</div>
{% endblock%}