{% extends 'base.html' %}
{% block content %}
<!--The slider for the top of the page-->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="slider">
                <ul class="slides">
                    <li><img src="{{url_for('static', filename='img/cover3.jpg')}}">
                    <div class="caption right-align">
                        <h3 class="landing-page-sliders">Share your recipes</h3>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row center-align">
            <h1>Share a Recipe</h1>
        </div>
        <div class="row">
<!--Form for sharing the recipe-->
            <form class="col s12" method="POST" action="{{ url_for('share') }}">
<!--Recipe Name Input fields-->
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Recipe Name" id="recipe_name" name="recipe_name" type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div>
<!--Category Input fields-->
                <div class="row">
                    <div class="input-field col s12">
                        <select name="category" id="category" class="validate" required>
                            <option value="" disabled selected>Which meal time is most suitable? (Breakfast/Lunch/Dinner)</option>
                            <!--iterating over the categories collection to give a user the option of choosing a category-->
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                        </select>
                        <label for="category">Category</label>
                    </div>
                </div>
<!--Type Input fields-->
                <div class="row">
                    <div class="input-field col s12">
                        <select name="type" id="type" class="validate" required>
                            <option value="" disabled selected>Would you have this as a Main? or a Side? You chose</option>
                            <!--iterating over the type collection to give a user the option of choosing a type-->
                        {% for type in types %}
                            <option value="{{ type.type_name }}">{{ type.type_name }}</option>
                        {% endfor %}
                        </select>
                        <label for="type">Type</label>
                    </div>
                </div>
<!--Instructions fields-->
                <div class="row">
    <!--Instructions input-->
                    <div class="input-field col s12 instructions_input_fields">
                        <input id="Instructions" type="text" class="validate" name="instructions" required>
                        <label for="Instructions">Instructions</label>
                    </div>
    <!-- add Instructions button-->
                    <a class="waves-effect waves-light btn add_field_instructions"><i class="fas fa-plus-circle"></i> Add Instructions</a>
                </div>
<!--Ingredients fields-->
                <div class="row">
    <!--Ingredients input-->
                    <div class="input-field col s12 ingredients_input_fields">
                        <input id="Ingredients" type="text" class="validate" name="ingredients" required>
                        <label for="Ingredients">Ingredients</label>
                    </div>
    <!--add Ingredients bitton-->
                    <a class="waves-effect waves-light btn add_field_ingredients"><i class="fas fa-plus-circle"></i> Add Ingredients</a>
                </div>
<!--Photo Input field-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="photo" type="text" class="validate" pattern="https?:\/\/.+(jpg|jpeg|gif|bmp|png|tiff)" name="photo">
                        <label for="photo">Photo Url</label>
                    </div>
                </div>
<!--Submit button-->
                <div class="row center-align">
                    <button class="btn waves-effect waves-light background-color-secondary-2-1" type="submit" name="action">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}