{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="slider">
                <ul class="slides">
                    <li><img src="https://images.unsplash.com/photo-1515516089376-88db1e26e9c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
                    <div class="caption right-align">
                        <h3>Share your recipes</h3>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row center-align">
            <h1>Update Recipe</h1>
        </div>
        <div class="row">
            <form class="col s12" method="POST" action="{{url_for('update', recipeId=recipe._id)}}">
<!--Recipe Name Input fields-->
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Recipe Name" value="{{recipe.recipe_name}}" id="recipe_name" name="recipe_name" type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div>
<!--Category Input fields-->
                <div class="row">
                    <div class="input-field col s12">
                        <select name="category" required>
                            <option value="" disabled>Which meal time is most suitable? (Breakfast/Lunch/Dinner)</option>
                            {% for category in categories %}
                                {% if category.category_name == recipe.category %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label>Category</label>
                    </div>
                </div>
<!--Type Input fields-->
                <div class="row">
                    <div class="input-field col s12">
                        <select name="type" required>
                            <option value="" disabled>Would you have this as a Main? or a Side? You chose</option>
                            {% for type in types %}
                                {% if type.type_name == recipe.type %}
                            <option value="{{ type.type_name }}" selected>{{ type.type_name }}</option>
                                {% else %}
                            <option value="{{ type.type_name }}">{{ type.type_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label>Type</label>
                    </div>
                </div>
<!--Instructions fields-->
                <div class="row">
    <!--Instructions input-->
                    <div class="input-field col s12 instructions_input_fields">
                    {% for number in all_instructions %}
                        {% if number == 0 %}
                        <input value="{{recipe.instructions[number]}}" id="Instructions" type="text" class="validate" name="instructions" required>
                        <label for="Instructions">Instructions</label>
                        {% else %}
                        <div>
                            <input value="{{recipe.instructions[number]}}" name="instructions" type="text" class="validate" required>
                            <a href="#" class="btn-small background-color-secondary-2-1 remove_field">Remove</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
    <!-- add Instructions button-->
                    <a class="waves-effect waves-light btn add_field_instructions"><i class="fas fa-plus-circle"></i> Add Instructions</a>
                </div>
<!--Ingredients fields-->
                <div class="row">
    <!--Ingredients input-->
                    <div class="input-field col s12 ingredients_input_fields">
                    {% for number in all_ingredients %}
                    {% if number == 0 %}
                        <input value="{{recipe.ingredients[number]}}" id="Ingredients" type="text" class="validate" name="ingredients" required>
                        <label for="Ingredients">Ingredients</label>
                    {% else %}
                        <div>
                            <input value="{{recipe.ingredients[number]}}" name="ingredients" type="text" class="validate" required>
                            <a href="#" class="btn-small background-color-secondary-2-1 remove_field">Remove</a>
                        </div>
                    {% endif %}
                    {% endfor %}    
                    </div>
    <!--add Ingredients bitton-->
                    <a class="waves-effect waves-light btn add_field_ingredients"><i class="fas fa-plus-circle"></i> Add Ingredients</a>
                </div>
<!--Photo Input field-->
                <div class="row">
                    <div class="input-field col s12">
                        <input value="{{recipe.Photo}}" id="photo" type="text" class="validate" name="photo" required>
                        <label for="photo">Photo Url</label>
                    </div>
                </div>
<!--Submit button-->
                <div class="row center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}